/** Custom CSS for the DSV internal web */

/* Media queries */
@media(max-width: 767px) {
	.region.region-page-top {
		margin-bottom: 20px;
	}

	.container > .navbar-header {
		margin: 0;
	}

	.navbar-header {
		height: auto;
	}

	.navbar-header .navbar-brand {
		font-size: 200%;
		margin: 20px 10px 10px 10px;
	}

	.navbar-header .site-slogan {
		font-size: 120%;
		font-weight: 400;
		margin-bottom: 15px;
	}

	.navbar-header > .logo {
		display: none;
	}

	.navbar-nav {
		margin: 7.5px 0;
	}

	ul.language-switcher-locale-url {
		float: right;
		margin-top: 10px !important;
		line-height: 1.428571429;
	}

	.content_middle_left .pane-block-5 {
		display: block;
	}

	.content_middle_left > .pane-driftinformation-fr-n-dmc {
		font-size: 11.7600002288818px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}

	.content_middle_left > .pane-driftinformation-fr-n-dmc h2 {
		font-size: 12.9359998703003px;
	}

	.content_middle_left .pane-block-5 .pane-content>div {
		vertical-align: top;
		display: inline-block;
		margin: 10px 10px 10px 0px;
		width: 130px;
	}

	.content_left .pane-block-5 {
		display: none;
	}

	.content_left .pane-driftinformation-fr-n-dmc {
		display: none;
	}

	.content_left .pane-aggregator-feed-1 {
		display: none;
	}

	.content_middle_top .pane-news-feed-image {
		display: none;
	}

	.content_left #main-page-left-column .views-field-body img {
		display: none;
	}
}

@media(min-width: 768px) {
	.navbar-header {
		height: 168px;
	}

	.navbar-header .navbar-brand {
		font-size: 260%;
		margin: 60px 10px 20px 10px;
	}

	.navbar-header .site-slogan {
		font-size: 145%;
	}

	.content_middle_left .pane-block-5 {
		display: none;
	}	

	.content_middle_left .pane-aggregator-feed-1 {
		display: none;
	}
	.content_middle_left>.pane-driftinformation-fr-n-dmc {
		display: none;
	}

	.content_left .pane-block-5 .pane-content>div {
		vertical-align: top;
		display: block;
		margin-bottom: 14px;
	}

	.content_left .pane-block-5 {
		display: block;
	}
}

@media print { 
	.navbar-header {
		display: none;
	}
	.navbar {
		display: none !important;
	}
	#navbar {
		display: none !important;
	}
	.region-sidebar-first {
		display: none !important; 
	}
	.navbar-collapse {
		display: none;
	} 
	.nav-tabs {
		display: none;
	}
	.region-page-top {
		display: none;
	}
	.donthyphenate {
		display: none;
	}
	.breadcrumb {
		display: none;
	}
	.col-sm-3 {
		display: none;
	}
	body.toolbar-drawer {
		padding-top: 0px !important;
	}
	a[href]:after {
	content: none !important;
	}
	.dsv-staff-table td {
		display: table-cell !important;
	}
	.noprint {
		display: none !important;
	}
}

/* Navbar header styling */
#navbar {
	background: none;
	border: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}

.navbar-header {
	background-color: rgb(155, 178, 206);
	width: 100%;
}

.navbar-header-name-slogan {
	display: inline-block;
	height: 100%;
}

/* This is only to override Bootstrap's settings, all other stylings for this element
   is done in .navbar-header .navbar-brand below! */
.navbar>.container .navbar-brand {
	margin-left: 0;
}

.navbar-header .navbar-brand {
	color: #fff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 100%;
	padding: 0 0 0 15px;
}

.navbar-header .navbar-brand:hover, 
.navbar-header .navbar-brand:visited {
	color: #fff;
}

/* Remove the logo's margins */
.navbar-btn {
	margin-bottom: 0;
	margin-top: 0;
}

.navbar-header .site-slogan {
	color: #fff;
	padding-left: 15px;
	clear: left;
}

/* Make the SU-logo the right size */
.navbar-header .logo img {
	height: 130px;
	margin-top: 32px;
}

/* Main menu theming */
.navbar-collapse.collapse {
	padding-left: 0px;
	padding-right: 0px;
}

.navbar-collapse > nav > .menu.nav > li > a {
	color: #428bca;
	font-size: 110%;
	font-weight: 200;
	padding: 10px 12px;
}

.navbar-collapse > nav > .menu.nav > li.active,
.navbar-collapse > nav > .menu.nav > li.active-trail,
.navbar-collapse > nav > .menu.nav > li > a:hover,
.navbar-collapse > nav > .menu.nav > li > a:focus {
	background-color: #f3f3f3;
}

.navbar-collapse > nav > .menu.nav > .active > a,
.navbar-collapse > nav > .menu.nav > .active > a:hover,
.navbar-collapse > nav > .menu.nav > .active > a:focus {
	background-color: #f3f3f3;
	color: #666 !important;
}

/* Primary sidebar styling */
.region-sidebar-first {
	background-color: #fff;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	padding: 0;
}

.region-top-links {
	background-color: rgb(155, 178, 206);
	color: white;
}

.region-top-links a:link, .region-top-links a:active, .region-top-links a:visited {
	color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
}

.region-top-links a:hover{
	text-decoration: underline;
}

/* Image gallery styling */
.view-image-gallery table td {
	border-bottom: none;
}

.view-image-gallery .views-field-field-descritpion {
	height: 40px;
}

.view-image-gallery td {
	vertical-align: top;
}

.view-image-gallery .views-field-nothing {
	margin-bottom: 16px;
}

.view-image-gallery .views-field-field-picture {
	max-height: 220px;
	margin-top: 6px;
	margin-bottom: 12px;
}

/* Shibboleth sign in styling */
.pane-shib-auth-login-box {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#aggregator .feed-item {
	padding-bottom: 15px;
}

/* Search block styling */

#block-search-form {
	float: right !important;
}

#search-block-form {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 200px;
}

.content-search {
	margin-bottom: 10px !important;
}

#aggregator .feed-source {
	display: none;
}

/* System navigation block styling */
#block-menu-block-1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 10px;
}

#block-menu-block-1 h2 {
	display: none;
}

#block-menu-block-1 > .menu-block-1 > .menu.nav > li {
	background-color: #f3f3f3;
	margin-bottom: 4px;
}

#block-menu-block-1 > .menu-block-1 > .menu.nav .first {
	margin-top: 4px;
}

#block-menu-block-1 > .menu-block-1 > .menu.nav > li:hover {
    display:block;
}

#block-menu-block-1 > .menu-block-1 > .menu.nav > li > .menu.nav {
     display: none;
}

#block-menu-block-1 > .menu-block-1 > .menu.nav > li > .menu.nav > li > .menu.nav {
	padding-left: 20px;
	font-size: 12px;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

#block-menu-block-1 > .menu-block-1 > .menu.nav > li > .menu.nav > li > .menu.nav > li > .menu.nav {
	padding-left: 20px;
	qfont-size: 12px;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

#block-menu-block-1 > .menu-block-1 > .menu.nav > li > .menu.nav > li > .menu.nav a.active:hover {
	background-color: rgb(155, 178, 206);
	color: white;
}

#block-menu-block-1 > .menu-block-1 > .menu.nav > li > .menu.nav > li.active > a{
	background-color: rgb(155, 178, 206);
	color: white;
}

#block-menu-block-1 > .menu-block-1 > .menu.nav > li > .menu.nav > li > .menu.nav > li.active>a{
	background-color: rgb(155, 178, 206);
	color: white;
}

#block-menu-block-1 > .menu-block-1 > .menu.nav > li > .menu.nav > li > .menu.nav > li > .menu.nav > li.active>a{
	background-color: rgb(155, 178, 206);
	color: white;
}

#block-menu-block-1 > .menu-block-1 > .menu.nav > li > .menu.nav > li.active.leaf{
	background-color: rgb(155, 178, 206);
}

#block-menu-block-1 > .menu-block-1 > .menu.nav > li > .menu.nav > li.active.leaf a{
	color: white;
	background-image: none;
}

#block-menu-block-1 > .menu-block-1 > .menu.nav > li.active-trail > .menu.nav {
    display: block;
    background-color: white;
}

#block-menu-block-1 > .menu-block-1 > .menu.nav > li.active-trail > .menu.nav > .first.leaf {
    margin-top: 4px;
}


#block-menu-block-1 > .menu-block-1 > .menu.nav > li.active,
#block-menu-block-1 > .menu-block-1 > .menu.nav > li.active-trail {
	background-image: url("../img/nav-active-bg.png");
	background-repeat: repeat-y;
}

#block-menu-block-1 > .menu-block-1 > .menu.nav > li > a {
	color: #002f5f;
	font-size: 85%;
	padding: 12px 12px 12px 16px;
	text-transform: uppercase;
	line-height: 200%;
}

#block-menu-block-1 > .menu-block-1 > .menu.nav > li > a:first-line {
	line-height: 100%;
}

#block-menu-block-1 > .menu-block-1 > .menu.nav > li > a:hover,
#block-menu-block-1 > .menu-block-1 > .menu.nav > li > a:focus {
	background-image: url("../img/nav-active-bg.png");
	background-repeat: repeat-y;
}

/* Side-pane blocks */
.pane-block, .pane-feed-calendar-items {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 84%;
	margin-bottom: 14px;
}

.pane-block > h2, .pane-feed-calendar-items > h2 {
	font-size: 110%;
}

.pane-block ul {
	margin-top: 2px;
	padding-left: 18px;
}


/* Home: columns styling */
#main-page-left-column,
#main-page-middle-column {
	margin-bottom: 20px;
}

/* Home: side columns block styling */
.main-page-block {
	margin-top: 14px;
}

.main-page-block > .views-field-title,
.main-page-block > .views-field-title-field {
	color: #002f5f;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
	font-weight: bold;
}

.main-page-block > .views-field-body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 84%;
}

.main-page-block > .views-field-body h2 {
	font-size: 100%;
}

.main-page-block > .views-field-body img {
	height: auto !important;
	width: 100% !important;
}

/* "more"-links styling (site-wide, created by views in order to hint user about more content being available) */
a.views-more-link {
	background-image: url("../img/more_arrow.png");
	color: transparent;
	float: right;
	margin-top: 1px;
	height: 16px;
	width: 28px;
}

/* Main page content styling */
h1 {
	color: #002f5f;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 185%;
}

h1 > a,
h1 > a:hover,
h1 > a:visited {
	color: #002f5f;
}

h1 > a:hover {
	cursor: pointer;
}

h2 {
	color: rgb(0, 46, 95);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 135%;
	font-weight: bold;
	margin: 0px;
	padding-top: 12px;
	padding-bottom: 12px;
}

h2 > a,
h2 > a:hover,
h2 > a:visited {
	color: rgb(0, 46, 95);
}

h2 > a:hover {
	text-decoration: none;
}

h3 {
	color: rgb(0, 46, 95);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 115%;
	font-weight: bold;
	margin: 0px;
	padding-top: 12px;
	padding-bottom: 6px;
}

h3 > a,
h3 > a:hover,
h3 > a:visited {
	color: rgb(0, 46, 95);
}

h3 > a:hover {
	text-decoration: none;
}

h4 {
	color: rgb(0, 46, 95);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 105%;
	font-weight: bold;
	margin: 0px;
	padding-top: 12px;
	padding-bottom: 6px;
}

.main-container .nav-tabs > li > a {
	line-height: 1;
}

.main-container .region-content {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 14px;
}

.main-container .region-content p {
	margin-bottom: 6px;
}

.main-container .region-content img {
	max-width: 100%;
	height: auto !important
}

/* Home page top image styling */
.pane-news-feed {
	margin-bottom: 24px;
}

.view-news-feed {
	position: relative;
}

.view-news-feed-image table {
	margin: 0 !important;
}

.view-news-feed-image td {
	padding: 0 !important;
}

.view-news-feed-image img {
	height: auto !important;
	width: 100% !important;
}

.view-news-feed > .view-content {
	background-color: rgba(255, 255, 255, .8);
	bottom: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 84%;
	margin-left: 2px;
	padding: 4px 8px 8px 8px;
	position: absolute;
	width: 100%;
}

.view-news-feed > .view-content a {
	color: rgb(0, 0, 0);
	font-weight: bold;
	text-decoration: none;
}

/* Home: "Latest articles" styling */
.pane-latest-articles > .pane-title {
	background-color: rgb(243, 243, 243);
	background-image: url("../img/latest-articles-head-bg.png");
	background-repeat: repeat-y;
	color: rgb(0, 0, 0);
	font-weight: bold;
	font-size: 110%;
	padding: 8px 0 8px 24px;
}

.view-latest-articles > .view-content > .views-row {
	border-bottom: dashed 1px rgb(200, 200, 200);
	margin-top: 8px;
	padding-bottom: 8px;
	float:left;
	width: 100%;
}

.view-latest-articles > .view-content > .views-row:first-child {
	margin-top: 12px;
}

.view-latest-articles > .view-content > .views-row:last-child {
	border-bottom: none;
	padding-bottom: 0;
}

.view-latest-articles .views-field-title,
.view-latest-articles .views-field-title-field {
	display: inline-block;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	margin-right: 4px;
	/*text-transform: uppercase;*/
	/*vertical-align: top;*/
	width: 70%;

	/* Hyphenation stuff */
/*	Cropped out if favour of js solution
	-ms-word-break: break-all;
	word-break: break-all;
*/
	/* Non standard for webkit */
/*	
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
*/
}

.view-latest-articles .views-field-body {
	display: inline-block;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 84%;
	width: 68%;
	float:right;
}

.view-latest-articles .view-footer {
	clear: left;
	padding-top: 10px;
}

.view-latest-articles .views-field-created,
.view-latest-articles .views-field-field-firstname,
.view-latest-articles .views-field-field-lastname {
	color: #666666;
	font-size: 80%;
	font-style: italic;
	display: inline-block;
}

.view-latest-articles .views-field-created {
	font-size: 105%;
	width: 100px;
	vertical-align: top;
	font-style: normal;
}

#main-page-middle-column img {
	height: auto !important;
	width: 100% !important;
}

/* Panel taxonomy terms description needs a small bottom margin */
.pane-term-description {
	margin-bottom: 15px;
}

/* Tables styling */
table {
	border-collapse: separate;
	border-spacing: 2px;
	table-layout: fixed;
	outline: 0;
	width: 100%;
	margin: 0;
	margin-top: 15px;
	padding: 0;
}

table td {
	font-weight: normal;
	padding: 12px 12px 12px 6px;
	border-bottom: dotted 1px #f0bf99;
	text-align: left;
}

.c_last_name .c_first_name .c_work_phone {
	width: 20%
}

.c_email {
	width: 30%;
}

.c_office {
	width: 10%;
}

/* Authoring block styling */
.authoring {
    font-size: 80%;
    color: #666666;
    padding: 0;
}
.authoring h2 {
    font-weight: bold;
    font-size: 100%;
    color: #666666;
    padding: 0;
}

/* Footer styling */
.footer {
	font-size: 12px;
	padding-top: 20px;
}

/* Taxonomy view styling */
.taxonomy-term-description h2 {
	font-size: 115%;
}

.views-row .taxonomy-term {
	margin-bottom: 12px;
}

.view-newsfeed>.view-content .views-row,
.view-taxonomy-with-content>.view-content .views-row,
.view-forskarutbildning .views-row {
	border-bottom: dashed 1px rgb(200, 200, 200);
	padding-bottom: 10px;
	padding-top: 10px;
}

.view-taxonomy-with-content>.view-content .views-row h2,
.view-forskarutbildning .views-row h2 {
	font-size: 115%;

}

.prefix_node_creation_date {
	display: none;
}

.view-newsfeed .prefix_node_creation_date,
.view-taxonomy-with-content .prefix_node_creation_date,
.view-forskarutbildning .prefix_node_creation_date {
	display: block;
    vertical-align: top;
    font-size: 115%;
    padding-top: 12px;
    float:right;
    font-style: normal;
    color: #666666;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.block-locale-language-content {
	display: inline-block;
	float: right;
}

ul.language-switcher-locale-url {
	/*position: absolute;*/
	float: right;
	/*margin-bottom: -10px;*/
	vertical-align: top;
	line-height: 1.428571429;
}

ul.language-switcher-locale-url li {
	display: inline;
}

ul.language-switcher-locale-url .active {
	display: none;
}

ul.language-switcher-locale-url li > a {
	font-size: 110%;
	font-weight: 200;
	padding: 5px 6px;
}

@media(max-width: 992px) {
	ul.language-switcher-locale-url {
		float: right;
		margin-top: 10px !important;
		line-height: 1.428571429;
	}
}

/* Hack to hide year in Time (date) for Calendar item
We need to use Date type for Time only.
*/

.node-calendar-item .field-name-body {
	margin-top: 14px;
}

.view-id-feed_calendar_items .views-row{
	background-image: url("../img/big-calendar-bg.gif");
	background-repeat: no-repeat;
	display: block;
	min-height: 52px;
	color: #002E5F;
	margin-bottom: 5px;
}

.view-id-feed_calendar_items .view-header {
	margin-bottom: 20px;
}

.view-id-feed_calendar_items .views-field-field-date .date-display-single {
    display: block;
    width: 37px;
    font-weight: bold;
    font-size: 130%;
    text-align: center;
    padding-top: 7px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.view-id-feed_calendar_items .views-field-field-date-1 .date-display-single {
	display: block;
    width: 37px;
    text-align: center;
    font-weight: bold;
    font-size: 80%;
    text-transform: uppercase;
    margin-top: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.view-id-feed_calendar_items .views-field-title-field {
	display: block;
	margin-left: 50px;
	margin-top: -45px;
}

.view-display-id-page_1 .views-field-title-field {
	display: block;
	margin-top: -50px;
	margin-left: 50px;
} 

.view-display-id-page_1 .views-row {
	margin-bottom: 30px;
	background-size: 40px 58px;
	min-height: 58px;
}

.view-display-id-page_1 .views-field-body {
	color: #333;
}

.view-display-id-page_1 .views-field-title-field a { 
	color: #002E5F;
	font-weight: bold;
	font-size: 110%;
}

.view-id-feed_calendar_items .views-field-body {
	display: block;
	margin-left: 50px;
}

@media(max-width: 398px) {
	.view-latest-articles .views-field-body {
		width: 100%;
	}
	.view-latest-articles .views-field-title-field {
		width: 100% !important;
	}
}